doctype html
html(lang='en')
  head
    title perk - somoslabs
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
    link(rel='stylesheet' href='https://perk.somoslabs.com/static/css/toolkit-inverse.css')
    link(rel='stylesheet' href='https://perk.somoslabs.com/static/css/application.css')
  body
    .with-iconav
      nav.iconav
        a.iconav-brand(href='/')
          span.icon.icon-leaf.iconav-brand-icon
    .container
      .well
        p.lead.text-center perk by somoslabs
        h5.text-center Login with your CodeRGV google account to get started
        br
        .text-center
          a(href="/auth/google")
            button.btn.btn-lg.btn-primary-outline(type="button")
              span.icon.icon-google-plus
                |   Login with Google


      
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', integrity='sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7', crossorigin='anonymous')
  script(src='https://perk.somoslabs.com/static/js/chart.js')
  script(src='https://perk.somoslabs.com/static/js/tablesorter.min.js')
  script(src='https://perk.somoslabs.com/static/js/toolkit.js')
  script(src='https://perk.somoslabs.com/static/js/application.js')
